<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>contactEmailRot13</key>
	<string>hasvygrerq@eboyno.yn</string>
	<key>contactName</key>
	<string>roblabla</string>
	<key>description</key>
	<string></string>
	<key>name</key>
	<string>SwIPC Language</string>
	<key>uuid</key>
	<string>6DAB852C-929C-437D-8005-430A2EEA36B0</string>
</dict>
</plist>

